USE [master]
GO
/****** Object:  Database [DemoCRUD2]    Script Date: 3/22/2021 9:34:55 PM ******/
CREATE DATABASE [DemoCRUD2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoCRUD2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DemoCRUD2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoCRUD2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DemoCRUD2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoCRUD2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoCRUD2]
GO
/****** Object:  Table [dbo].[StudentsTb]    Script Date: 3/22/2021 9:34:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsTb](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[RollNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Moblie] [nvarchar](50) NULL,
 CONSTRAINT [PK_StudentsTb] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
